{% extends 'App/base.html' %}

{% load static %}

{% block title %}
    Home Page
{% endblock title %}

{% block codigoDinamico %}

<div class="container">
    <h1>Bienvenido a YogaPlace!</h1>
</div>


    <!-- Banner Principal -->
    <div class="banner">
        <h1>Welcome to YogaPlace!</h1>
        <img src="{% static 'App/logo2.jpg' %}" alt="Imagen" class="logo">
        <p>Here you are a Practical Place for a vital yogui.</p>  
    </div>
    <br><br>
</div>

<!-- Testimonios -->
 <div id= "testimoniosCarousel" class="carousel slide" data-ride="carousel">
     <div class="carousel-inner">
         <div class="carousel-item active">
             <div class="testimonio">
                 <p>"Compre aquí muchos accesorios y todo es muy accesible. Los mats son de excelente calidad."</p>
                 <p><strong> - Lore Debon</strong></p>
             </div>
         </div>
         <div class="carousel-item">
             <div class="testimonio">
                     <p>"El precio es muy bueno y el trato es personalizado."</p>
                     <p><strong>- Maca Renat</strong></p>
                 </div>
             </div>
             <div class="carousel-item">
                 <div class="testimonio">
                     <p>"Los precios son bajos y los productos son ecofriendly, recomendado."</p>
                     <p><strong> - Corina Lopez </strong></p>
                 </div>
             </div>
             <div class="carousel-item">
                 <div class="testimonio">
                     <p>"Los elementos de ayuda son lo más recomendado por los maestros del yoga, gracias por brindar una excelente atención."</p>
                     <p><strong> - Catalina Ador</strong></p>
                 </div>
             </div>
         </div>
         <a class="carousel-control-prev" href="#testimoniosCarousel" role="button" data-slide="prev">
             <span class="carousel-control-prev-icon" aria-hidden="true"></span>
             <span class="sr-only">Anterior</span>
         </a>
         <a class="carousel-control-next" href="#testimoniosCarousel" role="button" data-slide="next">
             <span class="carousel-control-next-icon" aria-hidden="true"></span>
             <span class="sr-only">Siguiente</span>
         </a>
     </div>
     <br><br>


      <!-- Ofertas exclusivas -->
 <div class="cta mt-5 text center">
     <h2>Ofertas exclusivas,  solo para ti</h2>
 </div>
 <div id="ofertasCarousel" class="carousel slide" data-ride="carousel">
     <div class="carousel-inner">
         <div class="carousel-item active">
             <div class="oferta">
                <p>20% de descuento en articulos seleccionados!</p>
            </div>
        </div>
         <div class="carousel-item">
             <div class="oferta">
                 <p>15% de descuento en productos de la categoría de accesorios.</p>
             </div>
         </div>
         <div class="carousel-item">
             <div class="oferta">
                 <p>10% de descuento en productos de la categoría de entrenamiento.</p>
             </div>
         </div>
         <div class="carousel-item">
             <div class="oferta">
                 <p>12% de descuento en productos de la categoría de cuidado personal.</p>
             </div>
         </div>
     </div>
     <a class="carousel-control-prev" href="#ofertasCarousel" role="button" data-slide="prev">
         <span class="carousel-control-prev-icon" aria-hidden="true"></span>
         <span class="sr-only">Anterior</span>
     </a>
     <a class="carousel-control-next" href="#ofertasCarousel" role="button" data-slide="next">
         <span class="carousel-control-next-icon" aria-hidden="true"></span>
         <span class="sr-only">Siguiente</span>
     </a>
 </div>
 <br><br>
 </div>
 <!-- jQuery y Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" ></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script>
  $('.carousel').carousel({
         interval: 4000
     })
</script>

<script>
    document.getElementById('currentYear').textContent = new Date().getFullYear();
</script>
</div>

<!--Nuestras Marcas -->
<div class= "marcas mt-5">
    <h2>Nuestras Marcas</h2>
    <div class="row">
        <div class="col-md-2">
            <img src="{% static 'App/marca1.png' %}" alt="Marca 1" class="img-fluid">
            </div> &nbsp;  &nbsp;&nbsp;
            <div class="col-md-2">
                <img src="{% static 'App/marca2.jpeg' %}" alt="Marca 2" class="img-fluid">     
            </div> &nbsp;  &nbsp;&nbsp;
            <div class="col-md-2">
                <img src="{% static 'App/marca3.jpeg' %}" alt="Marca 3" class="img-fluid">     
            </div> &nbsp;  &nbsp;&nbsp;
            <div class="col-md-2">
                <img src="{% static 'App/marca4.png' %}" alt="Marca 4" class="img-fluid">     
            </div> &nbsp;  &nbsp;&nbsp;
            <div class="col-md-2">
                <img src="{% static 'App/marca5.png' %}" alt="Marca 5" class="img-fluid">     
            </div> 
        </div>
    </div>
    <br><br>

    <!-- Como funciona? -->
     <div class="como-funciona mt-5">
         <h2> class="text-center mb-4"</h2>
         <div class="row text-center">
             <div class="col-md-4">
                <div class="card h-100 shadow-lg">
                    <div class="card-body paso bg-primary text-white rounded">
                        <h3 class="card-title">1. Busca tu producto</h3>
                        <p class="card-text">Utiliza nuestro buscador o navega por las categorias para encontrar el producto de tu elección.</p>
                    </div>
                </div>
            </div>
             <div class="col-md-4">
                 <div class="card h-100 shadow-lg">
                     <div class="card-body paso bg-success text-white rounded">
                         <h3 class="card-title">2. Compra y recibe</h3>
                         <p class="card-text">Compra el producto que deseas</p>
                     </div>
                 </div>
             </div>
             <div class="col-md-4">
                 <div class="card h-100 shadow-lg">
                     <div class="card-body paso bg-danger text-white rounded">
                         <h3 class="card-title">3. Recibe tu pedido</h3>
                         <p class="card-text"> Envío rápido a tu casa o domicilio del ashran.</p>
                     </div>
                 </div>
             </div>
         </div>
     </div>
     <br> <br>  <br>
     <!-- Preguntas Frecuentes -->
     <div class="faq mt-5">
         <h2> Preguntas Frecuentes</h2>
         <div id="accordion">
             <div class="card">
                 <div class="card-header" id="headingOne">
                     <h5 class= "mb-0">
                         <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                             ¿Cómo puedo devolver un  producto?
                         </button>
                     </h5>
                 </div>

                 <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                     <div class="card-body">
                         Puedes devolver el producto a la tienda, en un plazo máximo de 30 días hábiles desde la fecha de entrega. Debes presentar el producto con la etiqueta original y el código de barras.
                     </div>
                 </div>
             </div>
             <div class="card">
                 <div class="card-header" id="headingTwo">
                     <h5 class="mb-0">
                         <button class="btn btn-link data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false"aria-controls="collapseTwo">
                              Cuáles son los métodos de pago aceptados?
                         </button>
                     </h5>
                 </div>
                 <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                     <div class="card-body">
                         Nuestro sitio acepta todos los medios de pago
                     </div>
                </div>
            </div>
        </div>
    </div>
    <br> <br>  <br>

   <!-- Mapa-->
     <div class="contacto mt-5">
         <h2>Encuentranos</h2>

            <div class="row">
                 <div class="col-md-6">
                 

                     <iframe src="https://www.google.com.ar/maps/place/Av.+Gral.+San+Mart%C3%ADn+319,+B1704+Ramos+Mej%C3%ADa,+Provincia+de+Buenos+Aires/@-34.644814,-58.5633442,17z/data=!3m1!4b1!4m5!3m4!1s0x95bcc7e6ca407621:0xaed5b5b036e77238!8m2!3d-34.6448184!4d-58.5607693?entry=ttu&g_ep=EgoyMDI0MTAwMi4xIKXMDSoASAFQAw%3D%3D#:~:text=when%2Ddowngrade%22%3E%3C/iframe%3E-,COPIAR,-HTML
                     width="800" height="600"
                     style="border:0;" 
                     allowfullscreen="" 
                     loading="lazy">
                     referrerpolicy="no-referrer-when-downgrade"
                 </iframe>
                 </div>

   </div>

   <footer class="mt-5">
     <div class="row">
         <div class="col-md-4">
             <h5>Yoga Elementos</h5>
             <p>Encuentra tu elemento de ayuda para la practica de yoga.</p>
         </div>
         <div class="col-md-4">
             <h5>Enlaces Rápidos</h5>
             <ul>
                <li><a href="#">Política de Privacidad</a></li>
                <li><a href="#">Términos y Condiciones</a></li>
                <p>&copy; <span id="currentYear"></span>Yoga Elementos. Todos los derechos reservados.</p>
             <ul>
         </div>
         <div class="col-md-4">
             <h5>Redes Sociales</h5>
             <ul>
                <li><a href="#">Facebook</a></li>
                <li><a href="#">Instagram</a></li>
             <ul>
         </div>
      </div>
    <footer>

  

         
                 
                    




                 
     

            
             
{% endblock %}
