{% extends 'App/base.html' %}

{% load static %}

{% block title %}
Política de Privacidad
{% endblock title %}

{% block codigoDinamico %}

<div class="container">
    <h1>Política de Privacidad</h1>
    <p>
    1. Introducción   
    Bienvenido a yogaplace ("nosotros", "nuestro"). Esta Políticaa de Privacidad explica como recopilamos, usamos, compartimos y protegemos la información personal que obtienes cuando
    utilizas nuestro sitio web y servicios relacionados.
    Al utilizar nuestro sitio web, aceptas las prácticas descriptas en esta política.</p>
    <p>
    2. Información que Recopilamos 
    Información Personal: Recopilamos información personal que nos proporcionas al registrarte en nuestra plataforma, realizar una compra o contactarnos.
    Esto incluye tu nombre, dirección de correo electrónico, dirección de envio y detalles de pago.
    Información de uso: Recopilamos información sobre como utilizas nuestro sitio web, incluyendo la dirección IP, navegador, páginas visitadas, y el tiempo que pasas en ellas.
    Cookies y Tecnologías Similares: Utilizamos cookies para mejorar tu experiencia en nuestro sitio web y para analizar el tráfico web
    y mejorar nuestros servicios.
    </p>
    <p>
    3. Uso de la Información Personal 
    Usamos tu información personal para procesar tu pedido, responder a tus comentarios y solicitudes, proporcionar servicios y productos personalizados, enviar información comercial y promocional, y
    para prevenir, investigar, y proteger cualquier actividad ilegal o fraudulenta.
       <p>4. Compartición de la Información personal
        No vendemos,  alquilamos ni compartimos tu información personal con terceros, excepto para los siguientes casos:
        Proveedores de Servicios: Podemos compartir tu información con proveedores de servicios que nos ayuden a operar en nuestro negocio, como servicios de pago y envio.
        Requisitos legales:  Podemos divulgar tu información si lo requiere la ley o en respuesta a procesos legales.</p>
       <p>5. Seguridad
        Implementamos medidas de seguridad para proteger tu información personal.
        Sin embargo, ninguna transmisión de datos por Internet puede ser completamente segura, y no podemos garantizar la seguridad absoluta.</p>
        
        <p>6. Derechos de Usuario
        Tienes derecho a acceder, corregir o eliminar la información personal que tenemos sobre ti.
        Puedes hacerlo contactándonos a través de mrslaurapereyra@gmail.com.</p>
        
        <p>7. Cambios en la Política de Privacidad
        Podemos actualizar esta política en el futuro. Te notificaresmos sobre cualquier cambio mediante la publicación de la nueva política en nuestro sitio web.
        Te recomendamos revisar esta política periodicamente.</p>
        <p>8. Contacto
            Si tienes alguna pregunta o necesitas más información sobre esta política, puedes contactarnos a través de mrslaurapereyra@gmail.com. o en Av. San Martin (Ramos Mejia).
    
    </p>

</div>
{% endblock %}


