{% extends 'App/base.html' %}
{% load static %}
{% block title%}
    Términos y Condiciones
{% endblock title %}

{% block codigoDinamico %}
<div class="container">
    <h1>Términos y Condiciones</h1>
    <p> 1.Aceptación de los Términos
    Al acceder y utilizar nuestro sitio web y servicios, aceptas cumplir con estos Términos y Condiciones y con nuestra Política de Privacidad.
    Si no estas de acuerdo con estos términos, no utilices nuestro sitio web.</p>

    <p> 2.Uso del Sitio Web
    Licencia: Te otorgamos una licencia limitada, no exclusiva e instransferible para ulitizar nuestro sitio web y servicios para fines personales y no comerciales.
    Prohibiciones: No puedes utilizar nuestro sitio web para actividades ilegales,
    infringir derechos de propiedad intelectual, o transmitir contenido que sea ofensivo, difamatorio o perjudicial.</p>
    <p> 3.Compra de Productos
    Precios y Pagos: Todos los precios estan sujetos a cambios y se reflejan en el sitio web. Aceptamos los métodos de pago indicados en el proceso de //www.google.com.ar/maps/place/Av.
    Envío y Entregas: Nos esforzamos por cumplir con los plazos de entrega, pero no garantizamos fecha exacta.</p>
    Los gastos de envío son responsabilidad del comprador, a menos que se indique lo contrario.   
    <p> 4.Propiedad Intelectual
    Todo el contenido del sitio web, incluidos los textos, gráficos, logos, imágenes y software, 
    es propiedad  de Yoga Place o de terceros y esta protegido por derechos de autor y otras leyes de propiedad intelectual.</p>

    <p> 5. Exención de Responsabilidad
    Nuestro sitio web y servicios se proporcionan "tal cual" y "según disponibilidad".
    No garantizamos que el sitio este libre de errores o interrupciones, ni que la información proporcionada sea precisa o completa.
    No somos responsables de los daños que puedan resultar del uso del sitio web o de la imposibilidad de utillizarlo.</p>
    
    <p> 6. Modificaciones del Servicio
        Yoga Place puede modificar los servicios o las características del sitio web en cualquier momento sin previo aviso.
        Si modificamos nuestros servicios, se pondrán a disposición nuevamente en el sitio web.</p>
    <p> 7. Ley Aplicable
    Estos Términos y Condiciones se aplican a todos los usuarios del sitio web y se rigen en la Ley de la República Argentina de Propiedad Intelectual y de Comercio.</p>
    Cualquier disputa relacionada con estos términos se resolverá en los tribunales de la República Argentina.</p>
    <p> 8. Contacto
    Si tienes cualquier duda o consulta sobre estos Términos y Condiciones, por favor contáctanos a:
    Yoga Place nuestro correo eléctronico :mrslaurapereyra@gmail.com o en nuestra Casa Central sita en Av. San Martin 319, Ramos Mejia (Partido de La Matanza Pcia.  Bs As) Argentina.</p>
    </p>
</div>
{% endblock %}
